@import './../../../static/styles/grid'

.page
  &__title
    font-size: 36px
    line-height: 43px
    margin-top: 62px
    margin-bottom: 62px
    color: var(--mainColor)

  &__wrapper
    padding-left: 30px
    padding-right: 30px
