@import './libs/reset'
@import url('https://unpkg.com/leaflet@1.5.1/dist/leaflet.css')
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap')

*, p, h2, button, a, li, div
  font-family: 'Lato', sans-serif
  font-weight: 400
  box-sizing: border-box

a
  color: inherit
  text-decoration: inherit

h2
  font-weight: bold
  font-size: 24px
  margin-bottom: 10px

\:root
  --main-color: #041030
  --main-green: #38CDBE
  --main-blue: #0062BD
  --light-grey: #E6E6E6
  --w: #fff
  --b: #000

  --control-width: 450px
  --header-height: 80px

  --main-radius: 3px


