@import './libs/reset'
@import url('https://unpkg.com/leaflet@1.5.1/dist/leaflet.css')
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap')

*, p, h2, button, a, li, div
  font-family: 'Lato', sans-serif
  font-weight: 400
  box-sizing: border-box
  outline-color: var(--light-grey)

a
  color: inherit
  text-decoration: inherit

h2
  font-weight: bold
  font-size: 24px
  margin-bottom: 10px

\:root
  --main-color: #041030
  --main-green: #38CDBE
  --main-blue: #0062BD
  --blue: #108CFF
  --light-grey: #E6E6E6
  --dark-gray: #425D72
  --background-gray: #EEF5FC

  --gray-disabled: #B4C8D0
  --gray-active: #5E808E

  --gray-border: #D6E0E4

  --w: #fff
  --b: #000

  --control-width: 450px
  --header-height: 80px

  --main-radius: 3px


