@import './../../../static/styles/grid'

.button
  background: none
  border: none
  font-size: 14px
  line-height: 18px
  padding: 8px 35px
  border-radius: 18px
  outline: none
  cursor: pointer
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
  transition-duration: .2s

  &:hover
    transform: translateY(-1px)

  &:active
    transform: translateY(-1px) scale(.95)

  &._main-green
    background-color: var(--main-green)
    color: white

  &._main-blue
    background-color: var(--main-blue)
    color: white

.google-button
  outline: none
  padding: 0
  color: #c27467
  background-color: transparent
  border: 1px #c27467 solid
  width: 100%
  cursor: pointer
  border-radius: 12px
  font-size: 20px
  height: 40px
  text-align: center
  line-height: 34px
  display: block
  transition-duration: .3s
  &:hover
    color: white
    background-color: #c27467

.icon-button
  border: none
  outline: none
  display: flex
  background-color: transparent
  align-items: center
  padding: 0


  &__text
    margin-left: 5px

    &._main-blue
      color: var(--main-blue)

  &__icon
    border-radius: 100%
    display: flex
    justify-content: center
    align-items: center
    width: 24px
    height: 24px

    &._main-blue
      background-color: var(--main-blue)
      color: white

    &._white
      background-color: white
      color: var(--main-blue)

    &._main-green
      background-color: var(--main-green)
      color: white

    &._disabled
      background-color: white
      color: gray
