@import './../../../static/styles/grid'

.button
  background: none
  border: none
  font-size: 14px
  line-height: 18px
  padding: 8px 25px
  border-radius: var(--main-radius)
  outline: none
  cursor: pointer
  transition-duration: .2s

  &:hover
    transform: translateY(-1px)

  &:active
    transform: translateY(-1px) scale(.95)

  &._main-green
    background-color: var(--main-green)
    color: white
    border-radius: 18px

  &._main-blue
    background-color: var(--main-blue)
    color: white
    border: 1px solid var(--main-blue)

  &._transparent-blue
    background-color: var(--w)
    border: 1px solid var(--main-blue)


.google-button
  outline: none
  padding: 0
  color: #c27467
  background-color: transparent
  border: 1px #c27467 solid
  width: 100%
  cursor: pointer
  border-radius: 12px
  font-size: 20px
  height: 40px
  text-align: center
  line-height: 34px
  display: block
  transition-duration: .3s
  &:hover
    color: white
    background-color: #c27467

.icon-button
  border: none
  outline: none
  display: flex
  background-color: transparent
  align-items: center
  padding: 0


  &__text
    margin-left: 5px

    &._main-blue
      color: var(--main-blue)

    &._transparent-blue
      color: var(--main-blue)
